* {
  margin: 30;
  padding: 30;
  box-sizing: inherit;
}

html {
  font-size: 120%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to top left, #43bfc7, #2da4c2);
  color: midnightblue;
  height: 100vh;
  padding: 1rem;
}

.app {
  position: relative;
  max-width: 100rem;
  margin: auto;
  display: grid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Container around the form */
.set__timer {
  /* display: inline; */
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top left, #ff2400, #ede6d6);
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* The Form */
.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form__label {
  font-size: 0.8rem;
  text-align: center;
  color: white;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

/* ----------------------- */
/* The H1 displaying the timer */
.timer {
  opacity: 0;
  font-weight: 800;
  background-image: linear-gradient(to top left, #52d017, #54c571);
  border-radius: 1rem;
  transition: all 0.5s;
}

.timer :hover {
  outline: auto;
  border: 0.5px solid black;
}

.timer--display {
  font-size: 1000%;
  color: white;
  text-align: center;
}
